/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; /*ここを追加*/
@import "bootstrap"; /*ここを追加\*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: black;
  color: #999;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
    "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    "Meiryo", "verdana", sans-serif;
}

/*------------共通-------------*/
a {
  color: #999;
  text-decoration: none;
  img {
    transition: opacity 0.2s ease 0s;
  }
}
a:hover {
  color: #5c6567;
  text-decoration: none;
  img:hover {
    opacity: 0.7; /*要素の透明度を指定*/
    filter: alpha(opacity=70); /*ie6、7の透明度指定*/
  }
}

.txt_color_white {
  color: #fff;
}
.has-error .help-block,
.txt_color_purple {
  color: #b76cfd;
}

.txt_color_pink {
  color: #fe53bb;
}

.txt_color_blue {
  color: #01ffff;
}
.txt_size_xl {
  font-size: 25px;
}
.txt_size_l {
  font-size: 22px;
}
.txt_size_m {
  font-size: 18px;
}
.txt_size_s {
  font-size: 14px;
}
.txt_size_xs {
  font-size: 10px;
}
.font_theme_cyber {
  font-family: "Nico Moji";
}
.bold {
  font-weight: bold;
}
.unfollow__btn {
  border-radius: 30px;
  color: #01ffff;
  border: solid 2px #01ffff;
}
.follow__btn {
  border-radius: 30px;
  color: #fff;
  background-color: #01ffff;
}
.edit__btn {
  border-radius: 30px;
  color: #fff;
  background-color: #b76cfd;
}
.destroy__btn {
  border-radius: 30px;
  color: #fff;
  background-color: #ccc;
}

/*------------フォーム------------*/
.form__wrap {
  height: 100vh;
}
.form {
  position: absolute;
  margin: 110px 0px 0px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.92);
  width: 363px;
  padding: 40px 0 38px;
  border-radius: 15px;
}
.field {
  width: 80%;
  margin: 0 auto;
}
#particles-js {
  width: 90%;
  height: 130vh;
  margin: 0 auto;
}

.form__input {
  width: 290px;
  height: 40px;
  color: #000;
  display: block;
  outline: 0;
  margin: 10px auto;
  padding: 0 0 0 10px;
  font-size: 14px;
  border: #ccc;
  border-radius: 4px;
}
.form__area {
  width: 290px;
  height: 100px;
  color: #000;
  display: block;
  outline: 0;
  margin: 10px auto;
  padding: 0 0 0 10px;
  font-size: 14px;
  border: #ccc;
  border-radius: 4px;
}
textarea::placeholder,
input::placeholder {
  color: #999;
}
.form select {
  width: 90px;
  height: 40px;
  color: #000;
  outline: 0;
  margin: 10px auto;
  padding: 0 0 0 10px;
  font-size: 14px;
  border: #ccc;
  border-radius: 4px;
}
.form__radio {
  input {
    transform: scale(1.5);
    margin-right: 10px;
    border: 1px solid #dfebf2 !important;
    &:checked {
      color: #000;
      border: 1px solid #dfebf2;
    }
  }

  label {
    color: #4d4a4d;
    vertical-align: middle;
    transform: scale(1);
    margin-right: 30px;
  }
}

.form__submit {
  display: block;
  margin: 10px auto;
  width: 280px;
  height: 40px;
  border-radius: 22px;
  border-style: none;
  color: #fff;
  background: #01ffff;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.2s;

  &:hover {
    background: #b76cfd;
  }
}
.form__logo {
  width: 70%;
}
.form__label {
  color: #4d4a4d;
  font-size: 14px;
  font-weight: 700;
  display: block;
  text-align: left;
  margin-bottom: 6px;
}
.error__messages {
  width: 80%;
  margin: 5px auto;
  padding: 5px;
  background-color: #ccc;
  list-style: none;
  border-radius: 5px;
}
.share__links {
  margin-top: 20px;
}
.profile__img {
  border-radius: 50%;
}
.form__image__label input {
  display: none; /* もとのフォームボタンは非表示 */
}
.form__image__label {
  cursor: pointer;
  .fa-camera {
    font-size: 25px;
    padding: 5px;
  }
}
.post__images__delete_btn {
  cursor: pointer;
}
/*------------投稿フォーム------------*/

.post__wrap {
  .post__form {
    width: 80%;
    margin: 15% auto;
    .form__input {
      width: 100%;
    }
    .form__area {
      width: 100%;
    }
    .form__radio {
      width: 100%;
      text-align: center;
    }
    #image-box-1 {
      display: flex;
      margin: 10px;
      flex-wrap: wrap;
    }
    .field {
      margin: 20px 0px;
      background-color: #ccc;
      width: 100%;
      padding: 20px;
      border-radius: 15px;
      .form__image__label {
        display: block;
        text-align: center;
      }
    }
  }
}
.post__form__bg {
  position: absolute;
  width: 100%;
  z-index: -99;
}
.post__images__flex {
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
}

/*------------ヘッダー-------------*/
header {
  width: 100%;
  position: fixed;
  z-index: 99;
}

.header__wrap {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
}
.header-right {
  position: relative;
}
.logo__img {
  width: 80px;
}
.header__img {
  height: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.header-right__cont:nth-child(1) {
  margin-right: 120px;
}
.header-right__cont i {
  color: #01ffff;
  position: absolute;
  font-size: 40px;
  right: 90px;
  top: 10px;
}
/*------------ハンバーガメニュー-------------*/

#nav-toggle {
  position: absolute;
  top: 10px;
  right: 25px;
  height: 32px;
  cursor: pointer;

  div {
    position: relative;
    width: 50px;
  }
  span {
    width: 100%;
    left: 0;
    display: block;
    background-color: #01ffff;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;

    &:nth-child(1) {
      height: 1px;
      top: 0;
    }
    &:nth-child(2) {
      height: 2px;
      top: 18px;
    }
    &:nth-child(3) {
      height: 3px;
      top: 36px;
    }
  }

  &:hover span:nth-child(1) {
    top: 4px;
  }
  &:hover span:nth-child(3) {
    top: 30px;
  }
}

.open {
  #nav-toggle span {
    background: #01ffff;

    &:nth-child(1) {
      height: 3px;
      top: 15px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: 15px;
      width: 0;
      left: 50%;
    }
    &:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
    }
  }
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}
#container {
  z-index: 900;
}

#gloval-nav {
  background: black;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#gloval-nav {
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.6s ease;

    &:hover {
      color: #666;
    }
  }

  ul {
    list-style: none;

    li {
      opacity: 0;
      transform: translateX(200px);
      transition: transform 0.6s ease, opacity 0.2s ease;

      &:nth-child(2) {
        transition-delay: 0.15s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.45s;
      }
      &:nth-child(5) {
        transition-delay: 0.6s;
      }
      &:nth-child(6) {
        transition-delay: 0.75s;
      }
      &:nth-child(7) {
        transition-delay: 0.9s;
      }
    }
  }
}

/* open */
.open {
  overflow: hidden;

  #gloval-nav {
    visibility: visible;
    opacity: 1;
  }

  #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity 0.9s ease;
  }
}

/*------------メインビジュアル-------------*/
main {
  width: 100%;
  margin: auto 0;
}
.main-visual {
  position: relative;
  // background-image: url(main_bg.png);
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}
.main-visual__txt {
  letter-spacing: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
}
.main-visual__logo__img {
  width: 300px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
}
.billboard {
  width: 400px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
}

.billboard__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.billboard__txt {
  text-align: center;
  font-size: 15px;
  width: 100%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
}

.nav__img {
  height: 50px;
}
.nav__txt {
  margin: 20px 0px;
}
/*------------メインビジュアルスライド-------------*/

.main-visual__slide1 {
  width: 500px;
  position: absolute;
  right: -50px;
  bottom: 300px;
  transform: perspective(200px) rotateY(350deg) skew(10deg, -20deg);
  .slick-slide {
    height: 300px !important;
  }
}
.main-visual__slide2 {
  width: 250px;
  position: absolute;
  right: 50px;
  top: 50px;
  transform: perspective(250px) rotateY(350deg) skew(10deg, -30deg);
  .slick-slide {
    height: 150px !important;
  }
}
.main-visual__slide3 {
  width: 250px;
  position: absolute;
  right: 150px;
  bottom: 50px;
  transform: perspective(250px) rotateY(340deg) skew(5deg, -5deg);
  .slick-slide {
    height: 150px !important;
  }
}
.main-visual__slide4 {
  width: 500px;
  position: absolute;
  left: -50px;
  bottom: 100px;
  transform: perspective(250px) rotateY(15deg) skew(-5deg, 5deg);
  .slick-slide {
    height: 300px !important;
  }
}
.main-visual__slide5 {
  width: 300px;
  position: absolute;
  left: -50px;
  top: 200px;
  transform: perspective(250px) rotateY(10deg) skew(-5deg, 20deg);
  .slick-slide {
    height: 200px !important;
  }
}
.main-visual__slide6 {
  width: 200px;
  position: absolute;
  left: 150px;
  top: 130px;
  transform: perspective(250px) rotateY(5deg) skew(-5deg, 25deg);
  .slick-slide {
    height: 100px !important;
  }
}
.slide__img {
  width: 100%;
  object-fit: cover;
}

/*------------フッター-------------*/
/*------------投稿-------------*/
.post {
  width: 90%;
  margin: 15% auto;
}
.post__head__txt {
  font-size: 25px;
  margin: 10px;
  letter-spacing: 10px;
  text-align: center;
}
/*------------作品見出し装飾------------*/
$bg: #10111f;
$barsize: 5px;

.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 2em;
  padding: 10px 0px;

  &:after,
  &:before {
    content: "";
    position: absolute;

    width: 100%;
    height: 2px;
    border-radius: 50%;
    bottom: 50%;
    left: 0;
  }

  &:before {
    background: linear-gradient(
      90deg,
      $bg 0%,
      $bg 50%,
      transparent 50%,
      transparent 100%
    );
    background-size: $barsize;
    background-position: center;
    z-index: 1;
  }

  &:after {
    transition: opacity 0.3s ease, animation 0.3s ease;

    background: linear-gradient(
      to right,
      #01ffff 5%,
      #01ffff 15%,
      #01ffff 25%,
      #b76cfd 35%,
      #b76cfd 45%,
      #b76cfd 55%,
      #fe53bb 65%,
      #fe53bb 75%,
      #fe53bb 85%,
      #01ffff 95%
    );

    background-size: 200%;
    background-position: 0%;
    animation: bar 15s linear infinite;
  }

  @keyframes bar {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}

.hr.anim {
  &:before {
    background: linear-gradient(
      90deg,
      $bg 0%,
      $bg 5%,
      transparent 5%,
      transparent 10%,
      $bg 10%,
      $bg 15%,
      transparent 15%,
      transparent 20%,
      $bg 20%,
      $bg 25%,
      transparent 25%,
      transparent 30%,
      $bg 30%,
      $bg 35%,
      transparent 35%,
      transparent 40%,
      $bg 40%,
      $bg 45%,
      transparent 45%,
      transparent 50%,
      $bg 50%,
      $bg 55%,
      transparent 55%,
      transparent 60%,
      $bg 60%,
      $bg 65%,
      transparent 65%,
      transparent 70%,
      $bg 70%,
      $bg 75%,
      transparent 75%,
      transparent 80%,
      $bg 80%,
      $bg 85%,
      transparent 85%,
      transparent 90%,
      $bg 90%,
      $bg 95%,
      transparent 95%,
      transparent 100%
    );

    background-size: $barsize * 10;
    background-position: center;
    z-index: 1;

    animation: bar 120s linear infinite;
  }

  &:hover {
    &:before {
      animation-duration: 20s;
    }
    &:after {
      animation-duration: 2s;
    }
  }
}
/*------------投稿一覧-------------*/
.post-index {
  .post-index__cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .post__box {
      display: block;
      margin: 20px 10px;
    }
    .post__img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 15px;
    }
    .post__title {
      margin: 5px 0px 3px 0px;
    }
    .post-user__cont {
      display: flex;
      .post-user__txt {
        margin-top: 2px;
        margin-left: 10px;
      }
    }
    .profile__img {
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

/*------------投稿詳細-------------*/
.post-show {
  .post-user__cont {
    margin-top: 20px;
    padding: 20px;
    .profile__img {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    .post-user__name {
      text-align: center;
      font-size: 20px;
      margin-top: 10px;
    }
    .post-user__introduction {
      text-align: center;
      margin: 10px 0px;
    }
    .unfollow__btn,
    .edit__btn,
    .follow__btn {
      text-align: center;
      display: block;
      margin: 0 auto;
      max-width: 200px;
      font-size: 20px;
      padding: 5px;
    }
  }
  .post-show__cont {
    background-color: #fff;
    padding: 0px;
    border-radius: 15px;

    .post__img {
      width: 100%;
    }
    .favorite {
      font-size: 30px;
      margin: 20px 30px;
    }
    .detail {
      padding: 50px;
      .favorite {
        font-size: 13px;
        margin: 10px 0px;
        color: #ccc;
      }

      .title {
        margin: 0px 0px 8px;
        color: rgb(31, 31, 31);
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
      }
      .caption {
        margin: 0px;
        color: rgb(92, 92, 92);
        line-height: 1.33;
      }
      .tags {
        margin: 10px 0px;

        display: flex;
      }
      .tag__txt {
        color: rgb(61, 118, 153);
        margin-right: 15px;
      }
      .profile__img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 50%;
      }
      .post-user__cont2 {
        display: flex;
        margin-top: 30px;
        .post-user__name {
          font-size: 15px;
          margin-top: 2px;
          margin-right: 10px;
        }
        .unfollow__btn,
        .follow__btn {
          text-align: center;
          width: 100px;
          font-size: 15px;
          border-radius: 30px;
          margin-right: 5px;
        }
        .destroy__btn,
        .edit__btn {
          text-align: center;
          font-size: 15px;
          padding: 5px 15px;
          border-radius: 30px;
          margin-right: 5px;
        }
      }
    }
  }
}
/*------------コメント機能-------------*/
.comment__form {
  display: flex;
  margin: 10% 0;
  justify-content: space-around;
  .comment__form__submit {
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    background: #01ffff;
    outline: none;
    font-size: 15px;
    text-align: center;
    transition: background-color 0.2s;

    &:hover {
      background: #b76cfd;
    }
  }
}
.comment__form__area {
  width: 90%;
  margin: 0 -8px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.comment {
  width: 100%;
  margin: 5% 0;
  overflow: hidden;
  .destroy__btn {
    margin: 10px 0px;
    float: right;
    text-align: center;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 30px;
  }
  .profile__img {
    float: left;
    margin-right: -90px;
  }
  .profile__img img {
    width: 50px;
    height: 50px;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }
  .comment__cont {
    width: 100%;
  }
  .comment__txt {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
  }
  .comment__txt:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }

  .comment__txt p {
    margin: 0;
    padding: 0;
  }
}
/*------------ユーザー詳細-------------*/
.user-show {
  margin: 300px auto;
  .profile__img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .user-show__name {
    margin: 10px 0px;
    text-align: center;
  }
  .unfollow__btn,
  .follow__btn,
  .edit__btn {
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 150px;
    font-size: 15px;
    padding: 5px;
  }
  .user-show__introduction,
  .follow__txt {
    text-align: center;
    margin: 10px 0px;
  }
  .follow__link {
    margin-right: 10px;
  }
}
/*------------モバイル版-------------*/
@media (max-width: 900px) {
  /*------------メインビジュアル-------------*/
  .main-visual {
    width: 100%;
    margin: 0 auto;
  }
  .main-visual__txt {
    left: 300px;
    top: 400px;
    transform: perspective(250px) rotateY(20deg) skew(-5deg, 15deg);
  }
  .billboard {
    width: 300px;
    top: 12%;
  }

  .billboard__img {
    height: auto;
  }
  /*------------メインビジュアルスライド-------------*/

  .main-visual__slide1,
  .main-visual__slide2,
  .main-visual__slide3 {
    display: none;
  }

  /*------------ヘッダー-------------*/
  header {
    width: 100%;
  }
  .logo__img {
    width: 50px;
  }
  .header__img {
    height: 15px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .header-right__cont:nth-child(1) {
    margin-right: 65px;
  }
  .header-right__cont i {
    font-size: 30px;
    right: 40px;
    top: 8px;
  }
  /*------------ハンバーガメニュー-------------*/

  #nav-toggle {
    top: 10px;
    right: 0;
    div {
      width: 30px;
    }
    span {
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }

    &:hover span:nth-child(1) {
      top: 4px;
    }
    &:hover span:nth-child(3) {
      top: 16px;
    }
  }

  .open {
    #nav-toggle span {
      &:nth-child(1) {
        height: 3px;
        top: 15px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 15px;
        width: 0;
        left: 50%;
      }
      &:nth-child(3) {
        top: 15px;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 500px) {
  .main-visual__txt {
    left: 100px;
    top: 430px;
    transform: perspective(250px) rotateY(20deg) skew(-5deg, 15deg);
  }
  .main-visual__slide4 {
    width: 400px;
    position: absolute;
    left: -50px;
    bottom: 70px;
    transform: perspective(250px) rotateY(15deg) skew(-5deg, 5deg);
    .slick-slide {
      height: 300px !important;
    }
  }
  .form {
    width: 90%;
  }
  .field {
    width: 80%;
  }
  .form__input {
    width: 100%;
  }
  /*------------投稿一覧-------------*/
  .post {
    margin: 10% auto;
  }
  .post-index {
    .post-index__cont {
      flex-direction: column;
      .post__box {
        margin: 20px auto;
      }

      .post__title {
        margin: 5px 0px 3px 0px;
      }
      .post-user__cont {
        display: flex;
        .post-user__txt {
          margin-top: 2px;
          margin-left: 10px;
        }
      }
      .profile__img {
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  /*------------投稿詳細-------------*/
  .post-show {
    .post-show__cont {
      margin-top: 100px;
    }
  }
}
