/ - if obj.errors.any?
/   #error_explanation
/     ul
/       - obj.errors.full_messages.each do |message|
/         li.error__messages.txt_color_red
/            i.fa.fa-exclamation-triangle = message
